
/* ========== header css ========== */
.header {
    padding: 30px 0;    background: #FFF;
  }
  
  .header .header-left .menu-toggle-btn .main-btn i {
    color: rgb(2, 2, 2) !important;
  }
  
  .header .header-left .menu-toggle-btn .main-btn:focus{
    background-color: #28292e81;
  }
  
  .header .header-left .menu-toggle-btn .main-btn {
    padding: 0px 15px;
    height: 46px;
    line-height: 46px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.267);
    margin-right: 70px;
  }
  
  .header-title h4 {
    margin-right: 30px;
  }
  
  .header .header-left .header-search form {
    max-width: 270px;
    position: relative;
  }
  
  .header .header-left .header-search form input {
    width: 300px;
    background: rgba(239, 239, 239, 0.979);
    border-radius: 12px;
    height: 42px;
    padding-left: 44px;
    transition: all 0.3s ease-out 0s;
  }

  
  .header .header-left .header-search form button {
    position: absolute;
    border: none;
    background: transparent;
    left: 16px;
    top: 0;
    height: 42px;
    color: #5d657b;
    font-weight: 700;
  }
  
  .header .header-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .header .header-right button {
    height: 4px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .header .header-right button::after {
    display: none;
  }
  
  .header .header-right button span {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #4af753;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;
    right: -2px;
    font-size: 12px;
    font-weight: 500;
  }
  
  .header .header-right .dropdown-menu {
    width: 350px;
    border: 1px solid #efefef;
    padding: 10px 10px;
    transition: all 0.3s ease-out 0s;
    top: 24px !important;
    right: 0;
    position: absolute;
    transform: translate3d(0px, 60px, 0px);
    border-radius: 10px;
  }
  
  .header .header-right .dropdown-menu li {
    padding: 3px 0px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-bottom: 1px solid #efefef;
    position: relative;
    z-index: 2;
  }
  
  .header .header-right .dropdown-menu li:hover a {
    color: #4a6cf7;
    background: rgba(74, 108, 247, 0.05);
  }
  
  .header .header-right .dropdown-menu li:last-child {
    border-bottom: none;
  }
  
  .header .header-right .dropdown-menu li a {
    padding: 8px 12px;
    display: flex;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
  }
  
  .header .header-right .dropdown-menu li a .image {
    max-width: 35px;
    width: 100%;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
  }
  
  .header .header-right .dropdown-menu li a .image img {
    width: 100%;
  }
  
  .header .header-right .dropdown-menu li a .content {
    width: 100%;
  }
  
  .header .header-right .dropdown-menu li a .content h6 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1;
  }
  
  .header .header-right .dropdown-menu li a .content p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
    line-height: 1.4;
  }
  
  .header .header-right .dropdown-menu li a .content span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .header .header-right .dropdown-box {
    position: relative;
  }
  
  .header .header-right .notification-box,
  .header .header-right .header-message-box {
    position: relative;
  }
  
  .header .header-right .notification-box {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    margin-right: 20px;
    background: transparent !important;
  }
  
  
  .header .header-right .header-message-box .dropdown-menu.dropdown-menu-end {
    transform: translate3d(0px, 60px, 0px);
  }
  
  .header .header-right .profile-box {
    display: flex;
    position: relative;
  }
  
  .header .header-right .profile-box button {
    width: auto;
  }
  
  .header .header-right .profile-box .dropdown-menu {
    width: 230px;
  }
  
  .header .header-right .profile-box .dropdown-menu.dropdown-menu-end {
    transform: translate3d(0px, 60px, 0px);
  }
  
  .header .header-right .profile-box .dropdown-menu li {
    border-bottom: none;
  }
  
  .header .header-right .profile-box .dropdown-menu li a {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .header .header-right .profile-box .dropdown-menu li a i {
    margin-right: 15px;
    font-weight: 700;
  }
  
  .header .header-right .profile-box .profile-info {
    margin: 0 5px;
  }
  
  .header .header-right .profile-box .profile-info .info {
    display: flex;
    align-items: center;
  }
  
  .header .header-right .profile-box .profile-info .info .image {
    border: 2px solid #f9f9f9;
    box-shadow: 0px 2px 5px rgba(218, 223, 227, 0.8);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 16px;
    position: relative;
  }
  
  .header .header-right .profile-box .profile-info .info .image .status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background: #219653;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
  }
  
  .header .header-right .profile-box .profile-info .info .image img {
    width: 100%;
    border-radius: 50%;
  }
  
  
  .profile-button{
    padding: 10px;
    margin-left: 20px;
  }
  
  
  .profile-info .info > div {
    display: flex;
    justify-content: space-between;
  }
  

  /* =========== Sidebar css =========== */
  .sidebar-nav-wrapper {
    background: #fff;
    width: 250px;
    padding: 20px 0px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(200, 208, 216, 0.3);
    transition: all 0.3s ease-out 0s;
    transform: translateX(0);
  }
  
  
  
  .bottom-bars {
    margin-top: 50px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .sidebar-nav-wrapper {
      transform: translateX(-260px);
    }
  }
  
  .sidebar-nav-wrapper.active {
  
    transform: translateX(-260px);
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .sidebar-nav-wrapper.active {
      transform: translateX(0px);
    }
  }
  
  .sidebar-nav-wrapper .navbar-logo {
    text-align: center;
    padding: 0 25px;
    margin-bottom: 30px;
  }
  
  .sidebar-nav-wrapper .sidebar-nav ul .nav-item {
    position: relative;
    margin: 12px 0px;
    padding: 8px;
  }
  
  .sidebar-nav-wrapper .sidebar-nav ul .nav-item a {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .sidebar-nav-wrapper .sidebar-nav ul .nav-item a img {
    margin-right: 10px;
  }
  
  
  /* .sidebar-nav-wrapper .sidebar-nav ul .nav-item a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 50%;
    width: 4px;
    background: #000;
    border-radius: 0 3px 3px 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
  } */
  
  .sidebar-nav-wrapper .sidebar-nav ul .nav-item a span.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active>a,
.sidebar-nav-wrapper .sidebar-nav ul .nav-item.active>a.collapsed,
.sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover>a,
.sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover>a.collapsed {
  color: #fff;
  background-color:#0C21C1;  
}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item a.active {
  color: #fff !important;
  background-color: #0C21C1 !important; /* Blue background */
  border-radius: 12px;
}


  
  .sidebar-nav-wrapper .sidebar-nav ul .nav-item.active>a::before,
.sidebar-nav-wrapper .sidebar-nav ul .nav-item.active>a.collapsed::before,
.sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover>a::before,
.sidebar-nav-wrapper .sidebar-nav ul .nav-item:hover>a.collapsed::before {
  opacity: 1;
  visibility: visible;
}

  .sidebar-nav li  img{
    height: 25px !important;
    width: 25px !important;
  }
  
  .sidebar-nav-wrapper .sidebar-nav ul .nav-item a img {
    margin-right: 10px; 
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
  }
  
  @media only screen and (min-width: 1400px),
  only screen and (min-width: 1200px) and (max-width: 1399px) {
    .overlay {
      display: none;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .overlay.active {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .main-wrapper {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin-left: 250px;
    min-height: 100vh;
    padding-bottom: 85px;
    position: relative;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .main-wrapper {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .main-wrapper {
      padding-bottom: 110px;
    }
  }
  
  .main-wrapper.active {
    margin-left: 0;
  }
  
  .main-wrapper .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  @media (max-width: 767px) {
    .main-wrapper .container-fluid {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .main-wrapper .footer {
    padding: 25px 0;
    justify-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .main-wrapper .footer .copyright p a {
    color: inherit;
  }
  
  .main-wrapper .footer .copyright p a:hover {
    color: #4a6cf7;
  }
  
  @media (max-width: 767px) {
    .main-wrapper .footer .terms {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  .main-wrapper .footer .terms a {
    color: #5d657b;
  }
  
  .main-wrapper .footer .terms a:hover {
    color: #4a6cf7;
  }
  